.register_head {
  overflow: hidden;
  border-bottom: 2px solid #bc0e31;
}

.register_head .container {
  padding: 20px 0;
  overflow: hidden;
}

.register_head .container h2 {
  float: left;
}

.register_head .container .right {
  float: right;
}

#login {
  border-bottom: 1px solid #ccc;
  height: 580px;
}

#login .login_l {
  float: left;
  overflow: hidden;
  padding: 20px 10px;
  width: 400px;
  border: 1px solid #d2d2ce;
  background: #f8f8f5;
}

#login .login_l h2 {
  margin: 0 12px 18px 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d2d2ce;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

#login .login_l .tool {
  position: relative;
  top: -38px;
  left: 130px;
  color: #06c;
  font-size: 12px;
}

#login .login_l .post dl {
  padding: 7px 0;
  overflow: hidden;
}

#login .login_l .post dl dt {
  float: left;
  width: 90px;
  height: 38px;
  color: #363636;
  text-align: right;
  font-size: 14px;
  line-height: 38px;
}

#login .login_l .post dl dd input {
  padding: 0 5px;
  width: 270px;
  height: 38px;
  color: #666;
  font-size: 12px;
  line-height: 38px;
  float: left;
  border: 1px solid #ccc;
}

#login .login_l .post dl dd .code {
  width: 165px;
}

#login .login_l .post dl dd .fCode {
  float: left;
  margin-left: 5px;
  height: 38px;
  width: 100px;
  line-height: 38px;
  border: 1px solid #CCC;
  background: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#login .login_l .post dl span {
  font-size: 14px;
}

#login .login_l .post dl:nth-child(5) input {
  margin-left: 80px;
}

#login .login_l .post dl:nth-child(6) input {
  margin-left: 100px;
}

#login .login_l .post dl .tis {
  display: inline-block;
  background: transparent url(../img/error.gif) no-repeat scroll 0px 3px;
  color: Red;
  font-size: 12px;
  margin-left: 90px;
  padding-left: 16px;
}

#login .login_l .post dl .clause {
  color: #06c;
  font-size: 12px;
}

#login .login_l .post dl button {
  width: 355px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #bb0e30;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0 0 10px;
}

#login .login_l .post dl .clause:hover {
  text-decoration: underline;
}

#login .login_l .post dl button:hover {
  text-decoration: underline;
}

#login .login_r {
  float: right;
  width: 790px;
  height: 480px;
  background: url(../img/register_ads.jpg) no-repeat;
}
